@CHARSET "UTF-8";

#twitter {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left: 10px;
	margin-top: 50px;
}

#twitter h2 {
	font-size: 12px;
	margin-top: 15px;
}

#twitter_t {
	height: 44px;
	color: #fff;
	text-shadow: .5px .5px #333;
	font-size: 18px;
	font-family: Candara;
	padding-top: 20px;
	padding-left: 25px;
}

#twitter_m {
	padding: 0 15px;
	background: #f7effc;
}

#twitter_container {
	min-height: 45px;
	height: auto !important;
	height: 40px;
	padding-bottom: 5px;
	padding-top: 5px;
}

#twitter_update_list {
	padding: 0;
	overflow: auto;
	font-family: Arial;
	font-size: 11px;
	font-style: italic;
	color: #31353d;
	/*line-height: 16px;*/
	margin-left: -13px;
	margin-top: -5px;
}

#twitter_update_list li {
	list-style: none;
	padding: 15px;
	border-bottom: dotted 1px #ccc;
}

#twitter_update_list li a {
	color: #631891;
	text-decoration: none;
	font-weight: bold;
}

#twitter_update_list li a:hover {
	color: #31353d;
}

#twitter_b {
	height: 29px;
}

/*
 * Estilos da pagina social network monitoring
 */

div#social-network-monitoring{
	border: 1px solid black;
	background: #edf5ea;
}

div#social-network-monitoring h2{
	border-bottom: 1px solid black;
	padding: 7px 0 7px 15px;
	background: #b6d7a8;
	font-size: 12px; 
}

div#social-network-monitoring-content{
	padding: 15px;
}

div#social-network-monitoring-content img,
div#social-network-monitoring-content #ipt-hashtag{
	margin-bottom: 20px;
}
div#social-network-monitoring-content label{
	padding: 0;
}

div#social-network-monitoring-content #hash-alert{
	color: #f00;
}

div#social-network-monitoring-content .monitoring-start-disabled{
	color: #999;
	border: 0;
}

div##waiting {
	align:center;
}

p.no-user-twitter{
	font-size: 12px;
	padding: 7px;
	margin-top: 25px; 
}

p.no-user-twitter a{
	color: #00f; 
}